body {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat( 4, 1fr );
  grid-template-rows: repeat( 5, auto);
  grid-template-areas: 
  " menu menu menu menu "
  " main main main aviso "
  " info info info info "
  ;
}

.menu {
  grid-area: menu;
}

.contenido {
  grid-area: main;
}

.extern {
  grid-area: aviso;
}

.info {
  grid-area: info;
}