.banner{
  width: 100%;
  margin: auto;
  height: 230px;
  background-image: url(../../img/work.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.banner p{
  font-family: 'Abril Fatface', cursive;
  font-size: 0.9rem;
  color: #fff;
  position: absolute;
  top: 25%;
}