#main {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat( 3, 1fr );
  /*grid-template-columns: repeat(auto-fit,minmax(200px,1fr));*/
  grid-template-rows: repeat( 3, auto);
  grid-template-areas: 
  "banner banner banner  "
  "tool tool tool  "
  ;
}

#banner {
  grid-area: banner;
}
#tool {
  grid-area: tool;
}
