#tool{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#tool article{
  text-align: center;
  width: 100%; 
  margin-bottom: 10px;
  padding: 20px;
  box-shadow: inset 0.3em 0.3em 0.9em black;
}

#tool .html5 i{
  color: orange;
  font-size: 4rem;
}

#tool .linux i{
  color: #333;
  font-size: 4rem;
}

#tool .javascript i{
  background-color: #000;
  color: yellow;
  border: 1px solid #000;
  font-size: 4rem;
}